
  {{ with .Site.GetPage "/" }}    
    <img class="w-full h-48 object-cover object-top" src="/img/card.jpg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <h1 class="font-bold text-xl mb-2">{{ .Title }}</h1>
      <div class="text-gray-700 text-base md-content">{{ .Content }}</div>
      <div>
        <a class="text-gray-700 inline-block mr-2" href="https://www.linkedin.com/in/sksdes/" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a> 
        <a class="text-gray-700 inline-block" href="https://github.com/SergeiZheleznov" title="Github"><i class="fab fa-github"></i></a>    
      </div>
    </div>
  {{ end }}

  <div class="px-6 py-2">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <a class="{{ if $currentPage.IsMenuCurrent "main" . }}bg-gray-400 text-gray-700{{else}}bg-gray-200 text-gray-500{{ end }} inline-block  rounded-full px-3 py-1 text-sm font-semibold  mr-2 mb-2" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
    </ul>
  </div>
