<div class="mb-3">
    <h3 class="text-lg font-semibold">
      {{.name}}
      {{ if .choco }}<a class="text-sm text-gray-700 hover:text-gray-900" href="https://chocolatey.org/packages/{{.choco}}/" target="_blank"><i class="fas fa-box-open"></i></a>{{ end }}
      {{ if .git }}<a class="text-sm text-gray-700 hover:text-gray-900" href="{{.git}}" target="_blank"><i class="fab fa-github-alt"></i></a>{{ end }}
      {{ if .www }}<a class="text-sm text-gray-700 hover:text-gray-900" target="_blank" href="{{.www}}"><i class="fas fa-link"></i></a>{{end}}
    </h3>
    {{ if .choco }}
      <input class="block cursor-pointer w-full outline-none font-mono bg-gray-200 hover:bg-gray-300" readonly onclick="this.select();" type="text" value="choco install {{.choco}} -y" />
    {{ end }}
  </div>