{{ define "main" }}
<div class="w-1/3 ml-5">
  <div class="bg-white p-10 rounded-md">

    <h2 class="text-3xl mb-4">DevTools</h2>
    {{ range .Params.devtools.package }}
      {{ partial "softwareItem" . }}
    {{ end }}

    <h2 class="text-3xl mb-4 mt-6">Utils</h2>
    {{ range .Params.utils.package }}
      {{ partial "softwareItem" . }}
    {{ end }}

    <h2 class="text-3xl mb-4 mt-6">Multimedia</h2>
    {{ range .Params.multimedia.package }}
      {{ partial "softwareItem" . }}
    {{ end }}

  </div>
</div>
{{ end }}

{{ define "submenu" }}
<div>
  {{ with .Resources.GetMatch "logo_square.svg" }}
    <img class="w-full" src="{{.RelPermalink}}" alt="">
  {{ end }}
  <div class="px-6 py-4 md-content">
    {{.Content}}
  </div>
</div>
{{end}}