{{ define "main" }}
<div class="container max-w-2xl mx-auto my-10">
  <div class="bg-white p-10 rounded-md">
    <a href="{{ .Site.BaseURL }}">Index</a>
    <div class="md-content">
      {{.Content}}
    </div>

    <h2 class="text-3xl mb-4">DevTools</h2>
    {{ range .Params.devtools.package }}
      {{ partial "softwareItem" . }}
    {{ end }}

    <h2 class="text-3xl mb-4 mt-6">Utils</h2>
    {{ range .Params.utils.package }}
      {{ partial "softwareItem" . }}
    {{ end }}

    <h2 class="text-3xl mb-4 mt-6">Multimedia</h2>
    {{ range .Params.multimedia.package }}
      {{ partial "softwareItem" . }}
    {{ end }}

  </div>
</div>
{{ end }}
