{{ define "main" }}
<div class="container max-w-2xl mx-auto my-10">
  <div class="bg-white p-10 rounded-md">

    {{ $taxo := "categories" }}
    <ul>
        {{ range .Param $taxo }}
            {{ $name := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                <li><a href="{{ .Permalink }}" class="font-bold text-xs">{{ $name }}</a></li>
            {{ end }}
        {{ end }}
    </ul>
    <hr class="my-5" />

    <div class="md-content">
      {{- .Content -}}
    </div>


  </div>
</div>
{{ end }}
